/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: rgba(0, 204, 204);
     background-image: url('../images/question backgroundpatternico.png');   
}

main{
     margin: auto;
     width: 70%;
     min-height: 100vh;
     height:max-content;
     padding: 5% 5% 1% 5%;
     background-color: rgba(255, 255, 255, 0.7);
     border: 1px white solid;
}
main #textinput{
     display: flex;
     flex-direction: column;
     align-items:  center;
     justify-content: center;
}



#formbuttons{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     
}
input{
     min-width: 300px;
}

input, button{
     margin: 5px;
}


#warning{
     color: red;
     font-size: 2rem;
     padding-bottom: 5%;
     margin: 0;
}
#viewQuestion {
     margin: 0;
     padding: 2%;
}

#outputimg{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
}
#outputimg section{
     height:auto;
     margin: auto;
     text-align: center;
     position: relative;
}
.overlay{
     position: absolute;
     margin: auto;
     padding: 10%;
     top: 0;
     left:0;
     right:0;
     bottom:0;

     color:black;
     background-color: rgb(240,240,240);
     border-radius: 50%;
     box-shadow: 0px 0px 30px rgb(233 225 225), 20px 0px 9px rgb(238 238 238) inset;
     width:150px;
     height:150px;
}
.below{
     border-radius: 50%;
     width: 80%;

}

footer{
     display: flex;
     align-items: flex-end;
     justify-content: center;
     padding: 1%;
     padding-top: 5%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

html{
     font-size: 62.5%;
     font-family: 'Poppins', sans-serif;
     font-weight: 500;
}

h1{
     font-weight: 900;
     font-size: 5rem;
}
input{
     font-weight: 400;
     font-size: 1.4rem;
}
button{
     font-weight: 500;
     font-size: 1.4rem;
}
#viewQuestion{
     font-size: 2rem;
}
#viewAnswer{
     font-size: 2rem;
}
footer a, footer span{
     color: grey;
     font-size: 1rem;
}